# Java specific
*.class

# Package Files
*.jar
*.war
*.ear

# netbeans ignore personal stuff 
nbproject/private/


# netbeans specific
nbproject/build-impl.xml
nbproject/genfiles.properties


## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out


#Ignora as classes compiladas.
build/
dist/

#Ignora .project eclipse.
.project

