# Java specific
*.class

# Package Files
*.jar
*.war
*.ear

# netbeans ignore personal stuff 
nbproject/private/
eapli.util/nbproject/private/
eapli.util/nbproject/private/private.properties
eapli.expensemanager/nbproject/private/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out


#Ignora as classes compiladas.
eapli.util/build/
eapli.util/dist/
eapli.expensemanager/build/
eapli.expensemanager/dist/

#Ignora .project eclipse.
.project


eapli.expensemanager/nbproject/private/
eapli.util/nbproject/private/
